nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-items: space-between;
}

.backkiss{
    position: absolute;
    right: 1;
    bottom: 0;
    z-index: -1;
    
}

@media (min-aspect-ratio: 16/9){
    .backkiss{
        width: 60%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .backkiss{
        width: auto;
        height: 60%;
    }
}